// -------------------- RESPONSIVITY VARIABLES -------------------- //

$responsive-ultrawide: 1400px;
$responsive-desktop: 1000px;
$responsive-tablet: 760px;
$responsive-mobile: 480px;

// --------------------- COMPONENTS VARIABLES --------------------- //

$header-height: 60px;
$horizontal-wrapper: 1000px;

// ----------------------- STYLING VARIABLES ---------------------- //

$horizontal-padding: 30px;
$border-radius: 8px;

$transition: 0.3s;

// ------------------------ COLOR VARIABLES ----------------------- //

$color-main: #0f52ba;
$color-background: #ffffff;
$color-text: #2c2c2c;
$color-tag: #373737;

$color-white: #ffffff;
$color-black: #000000;

$color-white-hover: #f1f1f1;

$color-shadow: rgba(0, 0, 0, 0.15);
