// -------------------- RESPONSIVITY VARIABLES -------------------- //

$responsive-ultrawide: 1400px;
$responsive-desktop: 1000px;
$responsive-tablet: 760px;
$responsive-mobile: 480px;

// --------------------- COMPONENTS VARIABLES --------------------- //

$header-height: 60px;

// ----------------------- STYLING VARIABLES ---------------------- //

$color-main: #ffffff;
$color-background: #f5f5f5;
$color-white: #f0f0f0;
