// -------------------- RESPONSIVITY VARIABLES -------------------- //

$responsive-ultrawide: 1400px;
$responsive-desktop: 1000px;
$responsive-tablet: 760px;
$responsive-mobile: 480px;

// --------------------- COMPONENTS VARIABLES --------------------- //

$header-height: 60px;

// ----------------------- STYLING VARIABLES ---------------------- //

$horizontal-padding: 30px;

// ------------------------ COLOR VARIABLES ----------------------- //

$color-main: #0f52ba;
$color-background: #ffffff;
$color-text: #2c2c2c;
$color-tag: #373737;

$color-white: #ffffff;
$color-black: #000000;
