@import '@/utils/styles/variables.module.scss';

.product_price {
  display: flex;
  padding: 6px 10px;
  border-radius: $border-radius;

  font-size: 14px;
  font-weight: 600;

  background-color: $color-tag;
  color: $color-white;
}
