@import '@/utils/styles/variables.module.scss';

.store_page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  padding-top: $header-height;
}
