@import '@/utils/styles/variables.module.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $header-height;
  padding: 0 $main-padding;

  background-color: $color-main;
}
