@import '@/utils/styles/variables.module.scss';

.minicart_menu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  height: 100%;

  .minicart_menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    width: 100%;
    height: $header-height;
    padding: 0 $main-padding;

    .minicart_menu__title {
      font-size: 22px;
      font-weight: 600;

      color: $color-white;
    }

    .minicart_menu__close {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 26px;
      height: 26px;
      cursor: pointer;
      border-radius: 100%;

      svg {
        transition: $transition;
        font-size: 30px;

        color: $color-black;
      }

      background-color: white;

      &:hover {
        svg {
          color: $color-black-hover;
        }
      }
    }
  }

  .minicart_menu__content {
    display: flex;
    width: 100%;
    height: calc(100% - 260px);
    padding: 10px $main-padding;

    .minicart_menu__content_wrapper {
      display: flex;
      width: 100%;
      padding: 10px 0;
      overflow: auto;

      &.with_padding {
        padding-right: 10px;
      }

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.2);
      }

      .minicart_menu__content_products {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        row-gap: 10px;

        .minicart_menu__content_empty {
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 12px;

          font-size: 15px;
          font-weight: 300;
          text-align: center;

          color: $color-white;

          svg {
            font-size: 40px;
          }
        }
      }
    }
  }

  .minicart_menu__footer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .minicart_menu__subtotal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding: 0 $main-padding;

      .minicart_menu__subtotalLabel {
        font-size: 22px;
        font-weight: 600;

        color: $color-white;
      }

      .minicart_menu__subtotalValue {
        font-size: 22px;
        font-weight: 700;

        color: $color-white;

        .skeleton_subtotalValue {
          display: flex;
          width: 110px;
          height: 30px;
          border-radius: $border-radius-loading;
        }
      }
    }

    .minicart_menu__cta {
      display: flex;
      height: 80px;
    }
  }
}
