@import '@/utils/styles/variables.module.scss';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  width: 100%;
  padding: 12px $main-padding;

  font-size: 12px;
  font-weight: 400;
  text-align: center;

  a {
    font-weight: 500;
  }

  background-color: $color-gray;
}
