@import '@/utils/styles/variables.module.scss';

.product_list {
  display: flex;
  justify-content: center;
  padding: 60px $main-padding;
}

.product_list__wrapper {
  display: grid;
  width: 100%;
  height: fit-content;
  max-width: $horizontal-wrapper;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 25px 20px;

  @media screen and (max-width: $responsive-desktop) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media screen and (max-width: $responsive-tablet) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media screen and (max-width: $responsive-mobile) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
