@import '@/utils/styles/variables.module.scss';

.minicart {
  position: relative;
  display: flex;
}

.minicart__button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  padding: 10px 15px;
  border-radius: $border-radius;
  cursor: pointer;
  transition: $transition;

  img {
    margin-right: 2px;
  }

  p {
    font-size: 16px;
    font-weight: 700;
  }

  background-color: $color-white;
  color: $color-black;

  &:hover {
    background-color: $color-white-hover;
  }
}

.minicart__menu {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  height: 100vh;
  padding: 40px;

  background-color: black;
}
